In [12]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
import pandas as pd

# NASA Mars News

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.

In [13]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [14]:
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

In [15]:
html = browser.html
soup = bs(html, 'html.parser')

In [16]:
# find the latest news, results return the first 'slide' it found
latest_news = soup.find('li', class_='slide')
latest_news

news_title = latest_news.find('div',class_='content_title').text
news_p = latest_news.find('div',class_='article_teaser_body').text

In [17]:
news_title

'InSight Is the Newest Mars Weather Service'

In [18]:
news_p

"By collecting data around the clock, NASA's lander will provide unique science about the Martian surface."

# JPL Mars Space Images

find the image url for the current Featured Mars FULL SIZE Image

In [19]:
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [20]:
browser.click_link_by_partial_text('FULL IMAGE')
# script shows picture as "Mediumsize", so have to keep looking

In [21]:
browser.click_link_by_partial_text('more info')
# leads to detailed page with fullsize image

In [22]:
featured_image_url = browser.find_by_tag('figure').first.find_by_tag('a')['href']

In [23]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16021_hires.jpg'

# Mars Weather

Visit the Mars Weather twitter account and scrape the latest Mars weather tweet from the page

In [24]:
weather_url = 'https://twitter.com/marswxreport'
browser.visit(weather_url)

In [25]:
weather_html = browser.html
soup_weather = bs(weather_html, 'html.parser')

#print(soup_weather.prettify())

In [26]:
mars_weather = soup_weather.find(class_='js-tweet-text-container').text
print(mars_weather)

#Opportunity the robot achieved so much because of #Opportunity the team.  People like @PlanetaryKeri, @doug_ellison, @marsroverdriver, @tanyaofmars,  @marssciencegrad, @cirquelar, @bellutta, @Dr_ThomasZ and so many more. Read more at #WRALhttps://www.wral.com/my-battery-is-low-and-it-s-getting-dark-end-of-opportunity-mission-a-loss-for-team/18197530/ …

# Mars Facts

###### Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

In [27]:
facts_url = 'https://space-facts.com/mars'

In [28]:
facts_df = pd.read_html(facts_url)[0]
facts_df.columns = ['Measurement','Facts']

In [29]:
facts_df

            Measurement                          Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
facts_html = facts_df.to_html()
facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Measurement</th>\n      <th>Facts</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

Visit the USGS Astrogeology site to obtain high resolution images for each of Mar's hemispheres.

In [32]:
hem_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hem_url)

In [33]:
hem_html = browser.html
soup_hem = bs(hem_html, 'html.parser')

In [34]:
hem_img_urls = []
hem_items = soup_hem.find_all("h3")
hem_items

[<h3>Cerberus Hemisphere Enhanced</h3>,
 <h3>Schiaparelli Hemisphere Enhanced</h3>,
 <h3>Syrtis Major Hemisphere Enhanced</h3>,
 <h3>Valles Marineris Hemisphere Enhanced</h3>]

In [35]:
for i in hem_items:
    items = {"title": " ".join(i.text.split(" ")[:-1])}
    browser.click_link_by_partial_text(i.text)
    items["img_url"] = browser.find_by_css("img[class='wide-image']").first["src"]
    hem_img_urls.append(items)
    browser.click_link_by_partial_text("Back")

In [36]:
hem_img_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]